.ur-button{
  position: relative;
  transition: all 0.2s ease;
  letter-spacing: 0.025em;
  font-size: 1rem;
  border: 0.0625rem solid #D1D9E6;
  border-radius: 0.55rem;
  padding: 0.55rem 0.6rem;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
  color: #31344b;
  background-color: #e6e7ee;
  outline: none;

  &.primary {
    color: #0056b3;
    box-shadow: 3px 3px 3px #0056b3, -3px -3px 6px #ffffff;
  }

  &.success {
    color: #18634b;
    box-shadow: 3px 3px 3px #18634b, -3px -3px 6px #ffffff;
  }

  &.info {
    color: #31344b;
    box-shadow: 3px 3px 3px #31344b, -3px -3px 6px #ffffff;
  }

  &.danger {
    color: #a91e2c;
    box-shadow: 3px 3px 3px #a91e2c, -3px -3px 6px #ffffff;
  }
  
  &.is-loading {
    border: 0;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF;
  }

  &:hover {
    cursor: pointer;
  }

  &:active:not(.is-disabled) {
    border-color: #e6e7ee;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF;

    &.primary {
      box-shadow: inset 2px 2px 5px #b8b9be, inset 0px -3px 1px #0056b3;
    }
  
    &.success {
      box-shadow: inset 2px 2px 5px #b8b9be, inset 0px -3px 1px #18634b;
    }
  
    &.info {
      box-shadow: inset 2px 2px 5px #b8b9be, inset 0px -3px 1px #31344b;
    }
  
    &.danger {
      box-shadow: inset 2px 2px 5px #b8b9be, inset 0px -3px 1px #a91e2c;
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &.is-round {
    border-radius: 2rem;
  }

  &.is-circle {
    border-radius: 50%;
  }

  &.mini {
    padding: 0.4rem;
    font-size: 0.6rem !important;
  }

  &.small {
    padding: 0.4rem;
    font-size: 0.8rem !important;
  }

  &.large {
    padding: .5rem .8rem;
    font-size: 1.4rem !important;
  }

  .loading_icon {
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    @keyframes rotating {
      0% {
        transform:rotate(0deg)
      }
      to {
        transform:rotate(1turn)
      }
    }
    animation: rotating 1s linear infinite;
  }
}