.ur-form--inline {
  .ur-form-item, .ur-form-item__content {
    display: inline-block;
    vertical-align: top;
  }
}

.ur-form-item::after, .ur-form-item__content::after {
  clear: both;
}

.ur-form--labur-left .ur-form-item__label {
  text-align: left;
}

.ur-form--labur-top .ur-form-item__label {
  float: none;
  display: inline-block;
  text-align: left;
  padding: 0 0 10px;
}

.ur-form--inline {
  .ur-form-item {
    margin-right: 10px;
  }

  .ur-form-item__label {
    float: none;
    display: inline-block;
  }

  &.ur-form--labur-top .ur-form-item__content {
    display: block;
  }
}

.ur-form-item {
  &::after, &::before {
    display: table;
    content: "";
  }
}

.ur-form-item__content {
  &::after, &::before {
    display: table;
    content: "";
  }
}

.ur-form-item {
  margin-bottom: 22px;

  .ur-form-item {
    margin-bottom: 0;
  }
}

.ur-form-item--mini.ur-form-item, .ur-form-item--small.ur-form-item {
  margin-bottom: 18px;
}

.ur-form-item .ur-input__validateIcon {
  display: none;
}

.ur-form-item--medium {
  .ur-form-item__content, .ur-form-item__label {
    line-height: 36px;
  }
}

.ur-form-item--small {
  .ur-form-item__content, .ur-form-item__label {
    line-height: 32px;
  }

  .ur-form-item__error {
    padding-top: 2px;
  }
}

.ur-form-item--mini {
  .ur-form-item__content, .ur-form-item__label {
    line-height: 28px;
  }

  .ur-form-item__error {
    padding-top: 1px;
  }
}

.ur-form-item__labur-wrap {
  float: left;

  .ur-form-item__label {
    display: inline-block;
    float: none;
  }
}

.ur-form-item__label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  padding: 0 12px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ur-form-item__content {
  line-height: 40px;
  position: relative;
  font-size: 14px;

  .ur-input-group {
    vertical-align: top;
  }
}

.ur-form-item__error {
  color: #F56C6C;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  left: 0;
}

.ur-form-item__error--inline {
  position: relative;
  top: auto;
  left: auto;
  display: inline-block;
  margin-left: 10px;
}

.ur-form-item {
  &.is-required:not(.is-no-asterisk) {
    .ur-form-item__labur-wrap > .ur-form-item__label:before, > .ur-form-item__label:before {
      content: "*";
      color: #F56C6C;
      margin-right: 4px;
    }
  }

  &.is-error {
    .ur-input__inner, .ur-textarea__inner {
      border-color: #F56C6C;

      &:focus {
        border-color: #F56C6C;
      }
    }

    .ur-input-group__append .ur-input__inner, .ur-input-group__prepend .ur-input__inner {
      border-color: transparent;
    }

    .ur-input__validateIcon {
      color: #F56C6C;
    }
  }
}

.ur-form-item--feedback .ur-input__validateIcon {
  display: inline-block;
}