.ur-pagination-wrap {
  .ur-popper {
    .popper__arrow {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;

      &::after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        content: ' ';
        border-width: 6px;
      }

      border-width: 6px;
      -webkit-filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));
      filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));
    }

    &[x-placement^='top'] {
      margin-bottom: 12px;

      .popper__arrow {
        bottom: -6px;
        left: 50%;
        margin-right: 3px;
        border-top-color: #ebeef5;
        border-bottom-width: 0;

        &::after {
          bottom: 1px;
          margin-left: -6px;
          border-top-color: #fff;
          border-bottom-width: 0;
        }
      }
    }

    &[x-placement^='bottom'] {
      margin-top: 12px;

      .popper__arrow {
        top: -6px;
        left: 50%;
        margin-right: 3px;
        border-top-width: 0;
        border-bottom-color: #ebeef5;

        &::after {
          top: 1px;
          margin-left: -6px;
          border-top-width: 0;
          border-bottom-color: #fff;
        }
      }
    }

    &[x-placement^='right'] {
      margin-left: 12px;

      .popper__arrow {
        top: 50%;
        left: -6px;
        margin-bottom: 3px;
        border-right-color: #ebeef5;
        border-left-width: 0;

        &::after {
          bottom: -6px;
          left: 1px;
          border-right-color: #fff;
          border-left-width: 0;
        }
      }
    }

    &[x-placement^='left'] {
      margin-right: 12px;

      .popper__arrow {
        top: 50%;
        right: -6px;
        margin-bottom: 3px;
        border-right-width: 0;
        border-left-color: #ebeef5;

        &::after {
          right: 1px;
          bottom: -6px;
          margin-left: -6px;
          border-right-width: 0;
          border-left-color: #fff;
        }
      }
    }
  }

  .ur-pagination {
    white-space: nowrap;
    padding: 2px 5px;
    color: #303133;
    font-weight: 700;

    &::after,
    &::before {
      display: table;
      content: '';
    }

    &::after {
      clear: both;
    }

    button,
    span:not([class*='suffix']) {
      display: inline-block;
      font-size: 13px;
      height: 28px;
      line-height: 28px;
      vertical-align: top;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .ur-input__inner {
      text-align: center;
      -moz-appearance: textfield;
    }

    .ur-button {
      width: 1.6rem;

      svg {
        margin-top: .3rem;
      }
    }
    
    .ur-select .ur-input {
      width: 6.6rem;
      margin: 0 5px;
    }
    
    .btn-next,
    .btn-prev {
      background-color: transparent;
      background-size: 16px;
      cursor: pointer;
      margin: 0;
      color: #303133;
      box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
      border: none;

      &:active {
        box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff;
      }
    
      svg {
        margin-top: .44rem;
      }
    }

    .btn-next .ur-icon {
      display: block;
      font-size: 12px;
      font-weight: 700;
    }

    .btn-prev {
      .ur-icon {
        display: block;
        font-size: 12px;
        font-weight: 700;
      }

      padding-right: 12px;
    }

    .btn-next {
      padding-left: 12px;
    }

    .ur-pager li.disabled {
      color: #c0c4cc;
      cursor: not-allowed;
    }
  }

  .ur-pager li {
    cursor: pointer;

    &.btn-quicknext:hover,
    &.btn-quickprev:hover {
      cursor: pointer;
    }
  }

  .ur-pagination--small {
    .btn-next,
    .btn-prev {
      border-color: transparent;
      font-size: 12px;
      line-height: 22px;
      height: 22px;
      min-width: 22px;
    }

    .ur-pager li {
      border-color: transparent;
      font-size: 12px;
      line-height: 22px;
      height: 22px;
      min-width: 22px;

      &.btn-quicknext,
      &.btn-quickprev,
      &:last-child {
        border-color: transparent;
        font-size: 12px;
        line-height: 22px;
        height: 22px;
        min-width: 22px;
      }
    }

    .arrow.disabled {
      visibility: hidden;
    }

    .more::before,
    li.more::before {
      line-height: 24px;
    }

    button,
    span:not([class*='suffix']) {
      height: 22px;
      line-height: 22px;
    }

    .ur-pagination__editor {
      height: 22px;

      &.ur-input .ur-input__inner {
        height: 22px;
      }
    }
  }

  .ur-pagination__sizes {
    margin: 0 10px 0 0;
    font-weight: 400;
    color: #606266;

    .ur-input .ur-input__inner {
      font-size: 13px;
      padding-left: 8px;

      &:hover {
        // border-color: #409eff;
      }
    }
  }

  .ur-pagination__total {
    margin-right: 10px;
    font-weight: 400;
    color: #606266;
  }

  .ur-pagination__jump {
    margin-left: 24px;
    font-weight: 400;
    color: #606266;

    .ur-input__inner {
      padding: 0 3px;
    }
  }

  .ur-pagination__rightwrapper {
    float: right;
  }

  .ur-pagination__editor {
    line-height: 18px;
    padding: 0 2px;
    height: 28px;
    text-align: center;
    margin: 0 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
  }

  .ur-pager {
    padding: 0;
  }

  .ur-pagination.is-background {
    .btn-next,
    .btn-prev {
      padding: 0;
    }
  }

  .ur-pagination__editor {
    &.ur-input {
      width: 50px;

      .ur-input__inner {
        height: 28px;
      }
    }

    .ur-input__inner {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .ur-pagination.is-background {
    .btn-next,
    .btn-prev,
    .ur-pager li {
      margin: 0 5px;
      color: #606266;
      min-width: 30px;
      border-radius: 2px;
    }

    .btn-next {
      &.disabled,
      &:disabled {
        color: #c0c4cc;
        box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
      }
    }

    .btn-prev {
      &.disabled,
      &:disabled {
        color: #c0c4cc;
        box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
      }
    }

    .ur-pager li {
      &.disabled {
        color: #c0c4cc;
        box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
      }

      &:not(.disabled) {
        &:hover {
          // color: #409eff;
          box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
        }

        &.active {
          // background-color: #409eff;
          // color: #fff;
          box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
        }
      }
    }

    &.ur-pagination--small {
      .btn-next,
      .btn-prev,
      .ur-pager li {
        margin: 0 3px;
        min-width: 22px;
      }
    }
  }

  .ur-pager {
    vertical-align: top;
    display: inline-block;
    margin: 0;

    li {
      vertical-align: top;
      display: inline-block;
      margin: 0;
    }

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    font-size: 0;

    .more::before {
      line-height: 30px;
    }

    li {
      padding: 0 4px;
      font-size: 13px;
      min-width: 35.5px;
      height: 28px;
      line-height: 28px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
      background-color: #e6e7ee;

      &.btn-quicknext,
      &.btn-quickprev {
        line-height: 28px;
        color: #303133;
      }

      &.btn-quicknext.disabled,
      &.btn-quickprev.disabled {
        color: #c0c4cc;
      }

      &.active + li {
        border-left: 0;
      }

      &:hover {
        color: #409eff;
      }

      &.active {
        color: #409eff;
        cursor: default;
      }
    }
  }
}
