.ur-tag {
  background-color: transparent;
  border: 0.0625rem solid #D1D9E6;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF;
  display: inline-block;
  height: 1.45rem;
  padding: 0 .6rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
  color: #0056b3;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.55rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  line-height: 1.9;
  
  span {
    vertical-align: middle;
  }

  .ur-tag__close {
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
    fill: #0056b3;
    margin-left: .2rem;

    &:hover {
      fill: #fff;
    }
  }
}
.ur-tag.is-hit {
  border-color: #0056b3;
}
.ur-tag .ur-tag__close {
  color: #0056b3;
}
.ur-tag .ur-tag__close:hover {
  color: #fff;
  background-color: #0056b3;
}
.ur-tag.ur-tag--info {
  background-color: #f4f4f5;
  border-color: #e9e9eb;
  color: #31344b;

  .ur-tag__close {
    fill: #31344b;
  }
}
.ur-tag.ur-tag--info.is-hit {
  border-color: #31344b;
}
.ur-tag.ur-tag--info .ur-tag__close {
  color: #31344b;
}
.ur-tag.ur-tag--info .ur-tag__close:hover {
  color: #fff;
  background-color: #31344b;
  fill: #fff;
}
.ur-tag.ur-tag--success {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
  color: #18634b;

  .ur-tag__close {
    fill: #18634b;
  }
}
.ur-tag.ur-tag--success.is-hit {
  border-color: #18634b;
}
.ur-tag.ur-tag--success .ur-tag__close {
  color: #18634b;
}
.ur-tag.ur-tag--success .ur-tag__close:hover {
  color: #fff;
  background-color: #18634b;
  fill: #fff;
}
.ur-tag.ur-tag--warning {
  background-color: #fdf6ec;
  border-color: #faecd8;
  color: #e6a23c;

  .ur-tag__close {
    fill: #e6a23c;
  }
}
.ur-tag.ur-tag--warning.is-hit {
  border-color: #e6a23c;
}
.ur-tag.ur-tag--warning .ur-tag__close {
  color: #e6a23c;
}
.ur-tag.ur-tag--warning .ur-tag__close:hover {
  color: #fff;
  background-color: #e6a23c;
  fill: #fff;
}
.ur-tag.ur-tag--danger {
  background-color: #fef0f0;
  border-color: #fde2e2;
  color: #a91e2c;;

  .ur-tag__close {
    fill: #a91e2c;;
  }
}
.ur-tag.ur-tag--danger.is-hit {
  border-color: #a91e2c;;
}
.ur-tag.ur-tag--danger .ur-tag__close {
  color: #a91e2c;;
}
.ur-tag.ur-tag--danger .ur-tag__close:hover {
  color: #fff;
  background-color: #a91e2c;;
  fill: #fff;
}
.ur-tag .ur-icon-close {
  border-radius: 50%;
  text-align: center;
  position: rurative;
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 16px;
  vertical-align: middle;
  top: -1px;
  right: -5px;
}
.ur-tag .ur-icon-close::before {
  display: block;
}
.ur-tag--dark {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
}
.ur-tag--dark.is-hit {
  border-color: #0056b3;
}
.ur-tag--dark .ur-tag__close {
  color: #fff;
}
.ur-tag--dark .ur-tag__close:hover {
  color: #fff;
  background-color: #66b1ff;
  fill: #fff;
}
.ur-tag--dark.ur-tag--info {
  background-color: #31344b;
  border-color: #31344b;
  color: #fff;
}
.ur-tag--dark.ur-tag--info.is-hit {
  border-color: #31344b;
}
.ur-tag--dark.ur-tag--info .ur-tag__close {
  color: #fff;
}
.ur-tag--dark.ur-tag--info .ur-tag__close:hover {
  color: #fff;
  background-color: #a6a9ad;
  fill: #fff;
}
.ur-tag--dark.ur-tag--success {
  background-color: #18634b;
  border-color: #18634b;
  color: #fff;
}
.ur-tag--dark.ur-tag--success.is-hit {
  border-color: #18634b;
}
.ur-tag--dark.ur-tag--success .ur-tag__close {
  color: #fff;
}
.ur-tag--dark.ur-tag--success .ur-tag__close:hover {
  color: #fff;
  background-color: #85ce61;
  fill: #fff;
}
.ur-tag--dark.ur-tag--warning {
  background-color: #e6a23c;
  border-color: #e6a23c;
  color: #fff;
}
.ur-tag--dark.ur-tag--warning.is-hit {
  border-color: #e6a23c;
}
.ur-tag--dark.ur-tag--warning .ur-tag__close {
  color: #fff;
}
.ur-tag--dark.ur-tag--warning .ur-tag__close:hover {
  color: #fff;
  background-color: #ebb563;
  fill: #fff;
}
.ur-tag--dark.ur-tag--danger {
  background-color: #a91e2c;;
  border-color: #a91e2c;;
  color: #fff;
}
.ur-tag--dark.ur-tag--danger.is-hit {
  border-color: #a91e2c;;
}
.ur-tag--dark.ur-tag--danger .ur-tag__close {
  color: #fff;
}
.ur-tag--dark.ur-tag--danger .ur-tag__close:hover {
  color: #fff;
  background-color: #f78989;
  fill: #fff;
}
.ur-tag--plain {
  background-color: #fff;
  border-color: #b3d8ff;
  color: #0056b3;
}
.ur-tag--plain.is-hit {
  border-color: #0056b3;
}
.ur-tag--plain .ur-tag__close {
  color: #0056b3;
}
.ur-tag--plain .ur-tag__close:hover {
  color: #fff;
  background-color: #0056b3;
  fill: #fff;
}
.ur-tag--plain.ur-tag--info {
  background-color: #fff;
  border-color: #d3d4d6;
  color: #31344b;
}
.ur-tag--plain.ur-tag--info.is-hit {
  border-color: #31344b;
}
.ur-tag--plain.ur-tag--info .ur-tag__close {
  color: #31344b;
}
.ur-tag--plain.ur-tag--info .ur-tag__close:hover {
  color: #fff;
  background-color: #31344b;
  fill: #fff;
}
.ur-tag--plain.ur-tag--success {
  background-color: #fff;
  border-color: #c2e7b0;
  color: #18634b;
}
.ur-tag--plain.ur-tag--success.is-hit {
  border-color: #18634b;
}
.ur-tag--plain.ur-tag--success .ur-tag__close {
  color: #18634b;
}
.ur-tag--plain.ur-tag--success .ur-tag__close:hover {
  color: #fff;
  background-color: #18634b;
  fill: #fff;
}
.ur-tag--plain.ur-tag--warning {
  background-color: #fff;
  border-color: #f5dab1;
  color: #e6a23c;
}
.ur-tag--plain.ur-tag--warning.is-hit {
  border-color: #e6a23c;
}
.ur-tag--plain.ur-tag--warning .ur-tag__close {
  color: #e6a23c;
}
.ur-tag--plain.ur-tag--warning .ur-tag__close:hover {
  color: #fff;
  background-color: #e6a23c;
  fill: #fff;
}
.ur-tag--plain.ur-tag--danger {
  background-color: #fff;
  border-color: #fbc4c4;
  color: #a91e2c;;
}
.ur-tag--plain.ur-tag--danger.is-hit {
  border-color: #a91e2c;;
}
.ur-tag--plain.ur-tag--danger .ur-tag__close {
  color: #a91e2c;;
}
.ur-tag--plain.ur-tag--danger .ur-tag__close:hover {
  color: #fff;
  background-color: #a91e2c;;
  fill: #fff;
}
.ur-tag--medium {
  font-size: .8rem;
  height: 1.7rem;
  padding: 0 .6rem;
}
.ur-tag--medium .ur-tag__close {
  margin-left: .1rem;
  width: 1.2rem;
  height: 1.2rem;
}
.ur-tag--small {
  font-size: .6rem;
  height: 1.3rem;
  padding: 0 .4rem;
}
.ur-tag--small .ur-tag__close {
  margin-left: .1rem;
  width: .9rem;
  height: .9rem;
}
.ur-tag--mini {
  font-size: .5rem;
  height: 1.1rem;
  padding: .1rem .4rem;
  line-height: .85rem;
}
.ur-tag--mini .ur-tag__close {
  margin-left: .1rem;
  width: .8rem;
  height: .8rem;
}