.DS_Store
node_modules
src
scss
packages
utils/
assets
directives
hooks
locale
vite.config.ts
tsconfig.json
*.map
*.html
 
# local env files
.env.local
.env.*.local
 
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
 
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*